{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
     <p class="article-content">{{user.bio.bio }}</p>
     
      <button class="btn"><i class="fa fa-edit"></i><a class="ml-4" href="{% url 'edit' %}">EDIT</a></button> -->
    </div>
{% endblock content %}
    